# ----------------------------------------------------------------------
# ~/.rtorrent.rc
#
# Example rtorrent configuration for high performance seedboxes. The
# settings below are made for a user with the name "killjoy". Adopt the
# paths to fit your needs. I'm seeding way over 1,000 torrents without
# any problems with this configuration file (yes, single rtorrent
# instance).
#
# This configuration is ready for usage together with rutorrent and
# especially tailored for the usage with private trackers.
#    ____                _ _
#   / ___|  ___  ___  __| | |__   _____  __
#   \___ \ / _ \/ _ \/ _` | '_ \ / _ \ \/ /
#    ___) |  __/  __/ (_| | |_) | (_) >  <
#   |____/ \___|\___|\__,_|_.__/ \___/_/\_\
#
# @see http://torrent-invites.com/help/172374-advice-rtorrent-rc-config.html
# ----------------------------------------------------------------------

# ----------------------------------------------------------------------
# BitTorrent
# ----------------------------------------------------------------------

max_downloads_global             = 0
max_uploads_global               = 0
min_peers                        = 50
max_peers                        = 300
min_peers_seed                   = -1
max_peers_seed                   = -1
max_uploads                      = 150
download_rate                    = 0
upload_rate                      = 0

# ----------------------------------------------------------------------
# Directories
# ----------------------------------------------------------------------

directory                        = /home/killjoy/rtorrent
session                          = /home/killjoy/.session
schedule                         = watch_directory,5,5,load_start=/home/killjoy/torrents/*.torrent
encoding_list                    = UTF-8

# ----------------------------------------------------------------------
# Network
# ----------------------------------------------------------------------

port_range                       = 50000-52999
scgi_local                       = /var/run/rtorrent/rpc.socket
network.http.ssl_verify_peer.set = 0
port_random                      = yes
use_udp_trackers                 = yes
encryption                       = allow_incoming,enable_retry,prefer_plaintext
network.max_open_files.set       = 65536
network.max_open_sockets.set     = 1536
network.http.max_open.set        = 48
network.send_buffer.size.set     = 4M
network.receive_buffer.size.set  = 4M
dht                              = off
peer_exchange                    = no

# ----------------------------------------------------------------------
# Hash
# ----------------------------------------------------------------------

check_hash                       = no
hash_read_ahead                  = 30
hash_interval                    = 5
hash_max_tries                   = 5
pieces.preload.type.set          = 1
max_memory_usage                 = 1800M
